<!DOCTYPE html>
<html class="no-js">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css"
		href="/assets/css/style.css">
	<title>Eat-Da-Burger!</title>
	<script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>

	{{{body}}}

	<script>
		$(document).ready(function () {
			$(".form").on("submit", function (event) {
				// Make sure to preventDefault on a submit event.
				event.preventDefault();

				burgerOrder = {
					name: $("#order").val().trim(),
					devoured: false
				};

				// Send the POST request.
				$.ajax("/api/burgers", {
					type: "POST",
					data: burgerOrder
				}).then(

					function () {
						console.log("burger order made");
						// Reload the page to get the updated list
						location.reload();
					}
				);
			});

			$(".move").on("click", function (event) {
				var id = $(this).data("id");

				// Send the POST request.
				$.ajax("/api/burgers/" + id, {
					type: "PUT",
					data: {
						devoured: true
					}
				}).then(
					function () {
						console.log("devoured burger", id);
						// Reload the page to get the updated list
						location.reload();
					}
				);
			});
		});
	</script>
</body>

</html>