body {
  background: #f8e6cf;
}

.container {
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col {
  float: left;
  width: 50%;
}

li {
  padding: 5px;
  margin: 5px;
  background: #f8e6cf;
}

.form {
  margin: auto;
  width: 50%;
  padding: 10px;
}
